<script>
	import Email from "../components/Email.svelte";
	import {
		MailIcon,
		TwitterIcon,
		GithubIcon,
		GitlabIcon,
		ExternalLinkIcon,
	} from "svelte-feather-icons";
</script>

<style>
	h1,
	div {
		margin-bottom: 1em;
	}
	li > :global(*) {
		display: inline-flex;
		align-items: center;
		height: 1.5em;
		text-decoration: none;
		word-break: none;
		white-space: nowrap;
	}
	li > :global(*:hover) {
		text-decoration: underline;
	}
	:global(.feather) {
		margin: 0.5em;
		width: 25px;
	}
	ul {
		display: flex;
		flex-flow: column;
		list-style: none;
	}
	li {
		padding: 0.5em;
	}
</style>

<svelte:head>
	<title>About EthPress</title>
</svelte:head>

<h1>About this site and the author</h1>

<div>
	<p>
		EthPress is a WordPress plugin, enhancing sites with Web3 interaction.
	</p>
	<p>
		Got sweet ideas or puzzling questions?
		<Email address="lynn.mvp@tutanota.com">Mail them to me</Email>. I
		respond to every email that comes my way. I may be slow to respond for a
		while.
	</p>
	<p>
		<del>I am also open to inquiries about custom plugins. My rate is US $49/hr,
		payment in crypto.</del> Otherwise occupied for now, sorry.
	</p>
</div>
<div>
	<p>Reach me on various platforms:</p>
	<ul>
		<li>
			<Email
				address="incoming+ethpress-add-ons-requests-21949167-issue-@incoming.gitlab.com">
				<MailIcon />
				<span>Email, I always respond, but I may be slow to respond for
					some time</span>
			</Email>
		</li>
		<li>
			<a
				target="_blank"
				rel="noopener noreferer"
				href="https://twitter.com/losnappas"><TwitterIcon />
				<span>@losnappas on Twitter</span>
				<ExternalLinkIcon size="1x" /></a>
		</li>
		<li>
			<a
				target="_blank"
				rel="noopener noreferer"
				href="https://gitlab.com/losnappas"><GitlabIcon />
				<span>@losnappas on GitLab</span>
				<ExternalLinkIcon size="1x" /></a>
		</li>
		<li>
			<a
				target="_blank"
				rel="noopener noreferer"
				href="https://github.com/losnappas"><GithubIcon />
				<span>@losnappas on GitHub</span>
				<ExternalLinkIcon size="1x" /></a>
		</li>
	</ul>
</div>
<div>
	<p>
		If I do not respond to your email, then probably your email was marked
		as spam. Please, try again, maybe with & to a different email or medium.
	</p>
	<p>
		<del>I usually respond within 24 hours.</del>
		I may be slow to respond for a while.
	</p>
</div>
