<script>
	import { onMount } from "svelte";
	import Plugin from "../components/Plugin.svelte";
	import plugins from "../../plugins.json";
	import Image from "../components/Image.svelte";
	import Carousel from "../components/Carousel.svelte";
	import MetaMask from "../components/MetaMask.svelte";
	let mounted,
		selectedImage = {},
		donateNumber = 0.1;

	onMount(() => {
		mounted = true;
		const d = document.querySelector("modal-dialog");
		setTimeout(() => {
			if (d && d.shadowRoot) {
				const dia = d.shadowRoot.querySelector(".dialog");
				if (dia && dia.style) {
					dia.style.maxWidth = "100vw";
				}
			}
		}, 1000);
	});
	const onExpand = (pic) => {
		selectedImage = pic;
	};
</script>

<style>
	modal-dialog :global(img) {
		max-height: 70vh;
	}
	modal-dialog a {
		text-decoration: none;
	}
	.hidden {
		display: none !important;
	}
	.embla__slide {
		position: relative;
		min-width: 100%;
		cursor: zoom-in;
	}
	h1,
	h2,
	h3 {
		text-align: center;
		margin: 0 auto;
	}

	.centered {
		display: flex;
		flex-flow: column;
		align-items: center;
	}

	.top {
		list-style: none;
		padding: 0;
	}

	.top > li:not(:last-child) {
		padding-bottom: 2em;
	}

	h1 {
		font-size: 2.8em;
		font-weight: 700;
		margin: 0 0 0.5em 0;
	}

	h3 {
		margin: 1em auto;
	}

	h3 > span {
		color: green;
	}

	@media (min-width: 480px) {
		h1 {
			font-size: 4em;
		}
	}
	.paddingbottom {
		padding-bottom: 1em;
	}
</style>

<svelte:head>
	<title>EthPress</title>
</svelte:head>

<h1>EthPress</h1>
<h2>Crypto WordPress Plugins</h2>

<h3><span>$$$</span> Premium WP Plugins <span>$$$</span></h3>
<div class="centered">
	<p>Some of the premium plugins have been set free!</p>
	<p>Donate to show your support!</p>
	<div class="paddingbottom">
		<input type="number" bind:value={donateNumber} step="0.001" />
		Eth
	</div>
	<MetaMask
		price={donateNumber}
		myAddr="0x106417F7265E15C1aAe52F76809F171578e982a9" />
</div>
<ul class="top">
	{#each plugins as { name, description, examples, redirect, servicedesk, price, pictures }}
		<li>
			<Plugin {redirect} {servicedesk} {price}>
				<span slot="name">{name}</span>
				<div slot="description">
					{#each description as desc}
						<p>{desc}</p>
					{/each}
				</div>
				<ul slot="example">
					{#each examples as example}
						<li>
							{@html example}
						</li>
					{/each}
				</ul>
				<div slot="picture">
					<Carousel>
						{#each pictures as picture}
							<div
								class="embla__slide"
								on:click|preventDefault={() => onExpand(picture)}>
								<div
									class="trigger-modal"
									data-modal="image-modal">
									<Image {picture} />
								</div>
							</div>
						{/each}
					</Carousel>
				</div>
			</Plugin>
		</li>
	{/each}
</ul>
<modal-dialog data-name="image-modal" class:hidden={!mounted}>
	{#if selectedImage.src}
		<a title="Open in full" href={selectedImage.src}><Image
				picture={selectedImage} /></a>
	{/if}
</modal-dialog>
