<script>
	import { onMount, onDestroy } from "svelte";
	import EmblaCarousel from "embla-carousel";

	let embla, _embla, interval;

	onMount(async () => {
		_embla = EmblaCarousel(embla, { loop: true });
		function spin() {
			clearInterval(interval);
			if (!document.hidden) {
				interval = setInterval(() => _embla.scrollNext(), 5500);
			}
		}
		document.addEventListener("visibilitychange", spin);
		spin();

		// SSR requires us to import on client side, because HTMLElement does not exist otherwise.
		// Not sure if the deployment phase would work with regular import, though.
		await import("modal-web-component/src/modal.js");
	});
	onDestroy(() => {
		clearInterval(interval);
	});
</script>

<style>
	.embla {
		overflow: hidden;
	}
	.embla__container {
		display: flex;
	}
	.embla__container > :global(*) {
		position: relative;
		min-width: 100%;
	}
</style>

<div class="embla" bind:this={embla}>
	<div class="embla__container">
		<slot />
	</div>
</div>
