<script>
	import { onMount } from "svelte";
	export let address;
	export let title = "";

	let email = "[Email hidden. Enable JavaScript to view.]";
	onMount(() => {
		email = address;
	});
</script>

<a href="mailto:{email}" {title}><slot>{email}</slot></a>
