<script>
	import { onMount } from "svelte";
	export let detail;
	let button;
	// onMount(() => {
	// 	var handler = FS.Checkout.configure(detail);

	// 	jQuery(button).on("click", function (e) {
	// 		handler.open({
	// 			name: "EthPress Jazz Icons",
	// 			licenses: 1,
	// 			// You can consume the response for after purchase logic.
	// 			purchaseCompleted: function (response) {
	// 				// The logic here will be executed immediately after the purchase confirmation.                                // alert(response.user.email);
	// 			},
	// 			success: function (response) {
	// 				// The logic here will be executed after the customer closes the checkout, after a successful purchase.                                // alert(response.user.email);
	// 			},
	// 		});
	// 		e.preventDefault();
	// 	});
	// });
</script>

<style>
	button {
		border: 5px;
		color: white;
		background: #86c540;
		font-size: 1.5em;
		padding: 1em;
		cursor: pointer;
	}
	button:hover {
		background-clip: padding-box;
		transition: all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1);
		background-color: rgb(3, 229, 59);
	}
	button span {
		display: block;
	}
	.main {
		text-transform: uppercase;
	}
	.secondary {
		font-size: 0.5em;
	}
	button:disabled {
		background-color: gray;
		cursor: not-allowed;
	}
	button:disabled:hover {
		background-color: gray;
	}
</style>

<button disabled bind:this={button}>
	<del>
		<span class="main">Start free trial</span>
		<span class="secondary">No credit card required. No risk!</span>
	</del>
	<span class="nostrike">Temporarily disabled.</span>
</button>
