<script>
	export let picture;
</script>
<style>
	img {
		max-width: 100%;
	}
	figure {
		margin: 0;
	}
</style>
<figure>
	<img
		src={picture.src}
		alt={picture.alt}
	/>
	<figcaption>{picture.caption}</figcaption>
</figure>
