<script>
	import { createEventDispatcher } from "svelte";
	import detectMetaMask from "@metamask/detect-provider";
	import { toWei } from "ethjs-unit";
	import { fly } from "svelte/transition";

	const dispatch = createEventDispatcher();

	export let price;
	export let redirect;
	export let myAddr = "0x448082647CF52268BADD496F0032908Da803cC99";

	let status = "";
	let type = "error";
	let completed = false;

	async function onClick() {
		const provider = await detectMetaMask();
		type = "error";
		if (!provider) {
			status =
				"Please install an ethereum wallet that works in/as the browser.";
			return;
		}

		type = "info";
		status = "Waiting for your permission.";
		const [address] = await provider.request({
			method: "eth_requestAccounts",
		});
		try {
			const txParams = {
				to: myAddr,
				from: address,
				chainId: 1,
				value: toWei(price, "ether").toString(16), // hex
			};

			if (provider.chainId !== "0x1") {
				// 0x5 = goerli
				// 0x1 = mainnet
				type = "error";
				status =
					"Please swap MetaMask to Main Ethereum Network before continuing.";
				return;
			}

			status = "Waiting for you to complete the transaction.";
			const txHash = await provider.request({
				method: "eth_sendTransaction",
				params: [txParams],
			});

			if (txHash) {
				type = "success";
				completed = true;
				dispatch("tx", {
					tx: txHash,
				});
			}
		} catch (e) {
			console.log("ERROR", e);
			type = "error";
			status = "An error occurred in your wallet: " + e.message;
		}
	}
	function clear(e) {
		if (status && type !== "success") {
			status = "";
			e.preventDefault();
		}
	}
</script>

<style>
	button {
		width: 209px;
		height: 57px;
		background-size: 100%;
		cursor: pointer;
		margin-bottom: 0.5em;
		border: none;
		background-color: transparent;
		padding: 0;
	}
	img {
		width: 100%;
		height: 100%;
	}
	:root {
		--bcolor: black;
	}
	.box {
		border: 10px solid var(--bcolor);
		border-radius: 5px;
		padding: 2em 1em;
		position: absolute;
		z-index: 1;
		top: -1.5em;
		left: 0;
		right: 0;
		margin: auto;
		background: white;
	}
	.type-success {
		--bcolor: green;
	}
	.type-info {
		--bcolor: lightblue;
	}
	.type-error {
		--bcolor: red;
	}
	div {
		position: relative;
	}
	span.close {
		display: block;
		position: absolute;
		right: 0.5em;
		top: 0;
		font-size: 1.5em;
		cursor: pointer;
	}
	button:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
</style>

<noscript>Enable JavaScript!</noscript>
<div>
	<div class="type-{type}">
		{#if status}
			<div class="box" transition:fly={{ y: 200, duration: 500 }}>
				<slot name="completed" {completed} />
				{#if completed}
					<p>
						{#if redirect}
							<a href={redirect}> Download the plugin. </a>
						{:else}<span>Thank you for your patronage!</span>{/if}
					</p>
				{:else if status}
					<p>
						<span class="close" on:click={clear}>&times;</span>
						{status}
					</p>
				{/if}
			</div>
		{/if}
	</div>
	<button on:click|preventDefault={onClick}>
		<img src="1_pay_mm_off.png" alt="Pay with MetaMask" />
	</button>
</div>
