<script>
	/**
	 * TODO have to get rid of the JSON file and use separate svelte file for each plugin.
	 */
	import Email from "./Email.svelte";
	import MetaMask from "./MetaMask.svelte";
	import { ExternalLinkIcon } from "svelte-feather-icons";
	import Freemius from "./Freemius.svelte";

	export let redirect;
	export let price;
	export let servicedesk;
</script>

<style>
	div > p:first-child {
		font-size: 1.1em;
	}
	.button-payment {
		text-align: center;
		margin: 2em auto;
		display: flex;
		justify-content: center;
		flex-flow: column;
	}
	.free {
		color: green;
		margin: 1em;
		padding-top: 1em;
	}
	h2 {
		margin-top: 3em;
	}
	.columns {
		display: flex;
		justify-content: center;
	}
	.column {
		width: 50%;
		display: flex;
		flex-flow: column;
		align-self: center;
	}
	.picture {
		margin: 1em;
	}
	a {
		border: 5px;
		color: white;
		background: #86c540;
		font-size: 1.5em;
		padding: 1em;
		cursor: pointer;
		text-decoration: none;
	}
	a:hover {
		background-clip: padding-box;
		transition: all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1);
		background-color: rgb(3, 229, 59);
	}
	a span {
		display: block;
		font-size: 0.6em;
	}
	@media (max-width: 480px) {
		.columns {
			flex-flow: column;
		}
		.column {
			width: 100%;
		}
		.picture {
			margin: 1em 0;
		}
	}
</style>

<div class="columns">
	<div class="column">
		<h2>
			<slot name="name" />
		</h2>
		<div>
			<slot name="description" />
		</div>
		<div>
			<p>Example use cases</p>
			<slot name="example" />
		</div>
		{#if price}
			{#if price.onetime}
				<div class="button-payment">
					<p>Payment in ETH. Normally {price.price} ETH. Now,</p>
					<a href={redirect}>FREE!
						<span>Don't expect active support, though.</span></a>
					<!-- <MetaMask price={price.price} {redirect} /> -->
					<p>
						Support email:
						<Email address={servicedesk} />
					</p>
				</div>
			{:else if price.monthly}
				<div class="button-payment">
					<Freemius detail={price.detail} />
					<p>
						Support email:
						<Email address={servicedesk} />
					</p>
				</div>
			{/if}
		{:else}
			<div>
				<p class="free">
					<a target="_blank" href={redirect}>FREE!
						<ExternalLinkIcon size="1x" /></a>
				</p>
			</div>
		{/if}
	</div>
	<div class="column">
		<div class="picture">
			<slot name="picture" />
		</div>
	</div>
</div>
